<%- include('../../component/head') %>

    <% if(stat !='allowed' ){%>
        <script>
            document.getElementById('rekomendasi').style.display = "";
        </script>
        <%}%>

            <div class="card h-100">
                <form <% if(stat !='allowed' ){%> action="entrynilai/updatenilai"
                    <%}%> method="POST">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3 style="margin: 0;">Entry nilai per calon karyawan</h3>
                            <input type="submit" class="btn btn-success w-25" <% if(stat !='allowed' ){%> value="Update Nilai"
                            <%} else {%> value="Submit Nilai"
                                <%}%>>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover" data-pagination="true" data-search="true" data-toggle="table" data-locale="id-ID" data-pagination-parts='[pageInfo, pageList]' data-buttons="table-buttons">
                                <thead>
                                    <tr>
                                        <th scope="col" data-sortable="true" data-width="56">No</th>
                                        <th scope="col" data-sortable="true" data-width="100">Nama Calon Karyawan</th>
                                        <% for(kriteria of bKriteria){ %>
                                            <th scope="col" data-sortable="true" data-searchable="false" class="text-center">
                                                <%= kriteria.NAMA_KRITERIA %>
                                            </th>
                                            <% } %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let i = 1, j = 1; for(karyawan of calonKar){ %>
                                        <tr>
                                            <td>
                                                <%= i %>
                                            </td>
                                            <td>
                                                <%= karyawan.NAMA %>
                                            </td>
                                            <% for(kriteria of bKriteria) { %>
                                                <td>
                                                    <input type="hidden" name="idkrit[]" value="<%= kriteria.ID_KRITERIA %>">
                                                    <input type="number" name="nilaikrit[]" class="form-control" min="0" placeholder="0" value="<%= listNilai[j-1].NILAI %>" required>
                                                    <input type="hidden" name="idAktivitas[]" value="<%= karyawan.ID_AKTIVITAS %>">
                                                </td>

                                                <% 
                                        if(stat != 'allowed'){
                                        j++;
                                    }} %>
                                        </tr>
                                        <% i++; %>
                                            <% } %>
                                </tbody>
                            </table>
                        </div>

                </form>
            </div>


            <%- include('../../component/footer') %>