<%- include('../../component/head') %>
    <div class="card h-100" style="overflow-y: auto;">
        <div class="card-header d-flex justify-content-between">
            <h3 class="m-0">Rekomendasi AHP</h3>
            <button type="button" class="btn btn-danger" onclick="tutuprek()">Tutup rekrutmen</button>
        </div>
        <div class="card-body">
            <!-- tahapan -->

            <table class="table table-striped table-hover" data-pagination="true" data-toggle="table" data-search="true" data-locale="id-ID" data-pagination-parts='[pageInfo, pageList]' data-buttons="table_buttons" data-buttons-class="success ms-2">
                <thead>
                    <tr>
                        <th scope="col" data-sortable="true" data-width="50">No</th>
                        <th scope="col" data-sortable="true">Nama Calon Karyawan</th>
                        <th scope="col" data-sortable="true">Email</th>
                        <th scope="col" data-sortable="true">No.Telp</th>
                        <th scope="col" data-sortable="true">Nilai Total</th>
                        <th scope="col" data-sortable="true">Status MBR</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i = 0; for(calon of rekomendasi[0]){ %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= calon.NAMA_CALON %>
                            </td>
                            <td>
                                <%= calon.EMAIL %>
                            </td>
                            <td>
                                <%= calon.NO_TELP %>
                            </td>
                            <td>
                                <%= +(rekomendasi[1][calon.ID_CALON]).toFixed(2); %>
                            </td>
                            <td class="table-<%= calon.STAT_MBR == 0 ? 'success':'danger'%>">
                                <%= (calon.STAT_MBR == 0)? 'Tidak Berpenghasilan Kecil' : 'Berpenghasilan Kecil' %>
                            </td>
                        </tr>
                        <% i++;}%>
                </tbody>
            </table>
        </div>
        <!-- end tahapan -->

    </div>
    <!-- Modal -->
    <div class="modal fade" id="rumus" tabindex="-1" aria-labelledby="modalRumus" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Perhitungan AHP</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-4">1. Perbandingan bobot</div>
                <table class="table table-hover" data-toggle="table">
                    <thead>
                        <tr>
                            <th></th>
                            <% for(kriteria of kriteria_asc){ %>
                                <th scope="col">
                                    <%= kriteria.NAMA_KRITERIA %>
                                </th>
                                <% }%>
                        </tr>
                    </thead>
                    <tbody>
                        <% let j = 0;for(krit of rekomendasi[2][0].Perbandingan) {%>
                            <tr>
                                <td style="font-weight: 700">
                                    <%= kriteria_asc[j].NAMA_KRITERIA %>
                                </td>
                                <% for(let i = 0; i < krit.length; i++){ %>
                                    <td>
                                        <%= krit[i] %>
                                    </td>
                                    <%}%>
                            </tr>
                            <% j++;} %>
                                <tr style="background-color: rgb(240, 240, 240);">
                                    <td style="font-weight: 700; text-align: center;">Jumlah</td>
                                    <% for(jumlah of rekomendasi[2][0].penjumlahan_Perbandingan) {%>
                                        <td style="font-weight: 500">
                                            <%= jumlah %>
                                        </td>
                                        <% } %>
                                </tr>
                    </tbody>
                </table>
    
                <div class="mt-4">2. Normalisasi (hasil perbandingan / jumlah hasil perbandingan)</div>
                <table class="table table-hover" data-toggle="table">
                    <thead>
                        <tr>
                            <th></th>
                            <% for(kriteria of kriteria_asc){ %>
                                <th scope="col">
                                    <%= kriteria.NAMA_KRITERIA %>
                                </th>
                                <% }%>
                                    <th scope="col">Rata-Rata</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% j = 0;for(bagi of rekomendasi[2][0].pembagian_Perbandingan) {%>
                            <tr>
                                <td style="font-weight: 700">
                                    <%= kriteria_asc[j].NAMA_KRITERIA %>
                                </td>
                                <% for(let i = 0; i < bagi.length; i++){ %>
                                    <td>
                                        <%= bagi[i] %>
                                    </td>
                                    <%}%>
                                        <td>
                                            <%= rekomendasi[2][0].rata2_Kriteria[0][j] %>
                                        </td>
                            </tr>
                            <% j++;} %>
                    </tbody>
                </table>
    
                <div class="row mt-5">
                    <div class="col-4">
                        <table class="table table-hover" id="a3" data-toggle="table">
                            <thead>
                                <tr>
                                    <th>A3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(a3 of rekomendasi[2][0].A3[0]){ %>
                                    <tr>
                                        <td>
                                            <%= a3 %>
                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class="table table-hover" id="a4" data-toggle="table">
                            <thead>
                                <tr>
                                    <th>A4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(a4 of rekomendasi[2][0].A4[0]){ %>
                                    <tr>
                                        <td>
                                            <%= a4 %>
                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class="table table-hover" id="a5">
                            <tbody>
                                <tr style="background-color: rgb(240, 240, 240);">
                                    <td style="font-weight: 700;">Lambda Max</td>
                                    <td style="font-weight: 500;">
                                        <%= rekomendasi[2][0].lambda_Max %>
                                    </td>
                                </tr>
                                <tr style="background-color: rgb(240, 240, 240);">
                                    <td style="font-weight: 700;">CI</td>
                                    <td style="font-weight: 500;">
                                        <%= rekomendasi[2][0].CI %>
                                    </td>
                                </tr>
                                <tr style="background-color: rgb(240, 240, 240);">
                                    <td style="font-weight: 700;">RI</td>
                                    <td style="font-weight: 500;">
                                        <%= rekomendasi[2][0].RI %>
                                    </td>
                                </tr>
                                <tr style="background-color: rgb(240, 240, 240);">
                                    <td style="font-weight: 700;">CR</td>
                                    <td style="font-weight: 500;">
                                        <%= rekomendasi[2][0].CR %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
                <div class="mt-4">3. Nilai Calon Karyawan</div>
                <table class="table table-hover" data-toggle="table" data-locale="id-ID">
                    <thead>
                        <tr>
                            <th scope="col" data-sortable="true" data-width="56">No</th>
                            <th scope="col" data-sortable="true" data-width="100">Nama Calon Karyawan</th>
                            <% for(kriteria of kriteria_asc){ %>
                                <th scope="col" data-sortable="true" data-searchable="false" class="text-center">
                                    <%= kriteria.NAMA_KRITERIA %>
                                </th>
                                <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% let b = 1, c = 1; for(karyawan of calonKar){ %>
                            <tr>
                                <td>
                                    <%= b%>
                                </td>
                                <td>
                                    <%= karyawan.NAMA %>
                                </td>
                                <% for(kriteria of kriteria_asc) { %>
                                    <td>
                                        <%= listNilai[c-1]?.NILAI || 0 %>
                                    </td>
                                    <% c++;} %>
                            </tr>
                            <% b++; %>
                                <% } %>
                                    <tr style="background-color: rgb(240, 240, 240);">
                                        <td colspan="2" style="font-weight: 700; text-align: center;">Jumlah</td>
                                        <% for(jml of rekomendasi[2][0].juml_nilai_Temp){ %>
                                            <td style="font-weight: 500;">
                                                <%= jml[1] %>
                                            </td>
                                            <%}%>
                                    </tr>
                    </tbody>
                </table>
    
                <div class="mt-4">4. Normalisasi Matriks Alternatif</div>
                <table class="table table-hover" data-toggle="table" data-locale="id-ID">
                    <thead>
                        <tr>
                            <th scope="col" data-sortable="true" data-width="56">No</th>
                            <th scope="col" data-sortable="true" data-width="100">Nama Calon Karyawan</th>
                            <% for(kriteria of kriteria_asc){ %>
                                <th scope="col" data-sortable="true" data-searchable="false" class="text-center">
                                    <%= kriteria.NAMA_KRITERIA %>
                                </th>
                                <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% let a = 0, d = 1; for(karyawan of calonKar){ %>
                            <tr>
                                <td>
                                    <%= a+1; %>
                                </td>
                                <td>
                                    <%= karyawan.NAMA %>
                                </td>
                                <% for(kriteria of rekomendasi[2][0].normalisasi_Nilai) { %>
    
                                    <% if(karyawan.ID_CALON === kriteria[0]){ %>
                                        <td>
                                            <%= kriteria[2]; %>
                                        </td>
                                        <% }%>
                                            <% d++;} %>
                            </tr>
                            <% a++; %>
                                <% } %>
                    </tbody>
                </table>
    
                <div class="mt-4">5. Nilai Eigen Alternatif Kriteria</div>
                <table class="table table-hover" data-toggle="table" data-locale="id-ID">
                    <thead>
                        <tr>
                            <th scope="col" data-sortable="true" data-width="56">No</th>
                            <th scope="col" data-sortable="true" data-width="100">Nama Calon Karyawan</th>
                            <% for(kriteria of kriteria_asc){ %>
                                <th scope="col" data-sortable="true" data-searchable="false" class="text-center">
                                    <%= kriteria.NAMA_KRITERIA %>
                                </th>
                                <% } %>
                                    <th scope="col" data-sortable="true">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let z = 0, q = 1; for(karyawan of calonKar){ %>
                            <tr>
                                <td>
                                    <%= z+1; %>
                                </td>
                                <td>
                                    <%= karyawan.NAMA %>
                                </td>
                                <% for(kriteria of rekomendasi[2][0].nilai_Kali_A2) { %>
                                    <% if(karyawan.ID_CALON === kriteria[0]){ %>
                                        <td>
                                            <%= kriteria[2]; %>
                                        </td>
                                        <% }%>
                                            <% q++;} %>
                                                <td style="font-weight: 500;">
                                                    <%=rekomendasi[2][0].nilai_Jumlah[karyawan.ID_CALON]%>
                                                </td>
                            </tr>
                            <% z++; %>
                                <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
        </div>
    </div>
    <script>
        function tutuprek() {
            let conf = confirm('Apakah anda yakin menutup rekrutmen ini?');
            if (conf) {
                window.location.href = '/rekomendasi/tutup';
            }
        }
        function table_buttons() {
        return {
            btnPrint: {
                text: 'Highlight Users',
                icon: 'bi bi-calculator',
                event: function() {
                    $('#rumus').modal('show');
                },
                attributes: {
                    title: 'Tampilkan Metode'
                }
            }
        }
    } 
    </script>
    <%- include('../../component/footer') %>