<link rel="stylesheet" href="/css/bootstrap-table.min.css">
<table class="table table-striped table-hover" data-pagination="true" data-search="true" data-toggle="table" data-locale="id-ID" data-pagination-parts='[pageInfo, pageList]' data-buttons="table-buttons">
    <thead>
        <tr>
            <th scope="col" data-width="50">No</th>
            <th scope="col" data-sortable="true">Nama Calon Karyawan</th>
            <th scope="col">Email</th>
            <th scope="col">No.Telp</th>
            <th scope="col">Tanggal Daftar</th>
        </tr>
    </thead>
    <tbody>
        <% let i = 0; for(data of listCalon){ %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= data.NAMA_CALON %>
                </td>
                <td>
                    <%= data.EMAIL %>
                </td>
                <td>
                    <%= data.NO_TELP %>
                </td>
                <td class="daftarFormatted">
                    <script>
                        document.getElementsByClassName('daftarFormatted')[<%= i %>].innerHTML = setdate("<%= data.TGL_DAFTAR%>");
                    </script>
                </td>
            </tr>
            <% i++;}%>
    </tbody>
</table>
<script src="/js/bootstrap-table.min.js"></script>