<link rel="stylesheet" href="/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/assets/css/setting-default.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">
<link rel="stylesheet" href="/css/bootstrap-table.min.css">
<script src="/js/jquery.min.js"></script>

<style type="text/css" media="print">
    @page {
        size: landscape;
    }
</style>
<script>
    function setdate(value) {
        var date = new Date(value);

        options = {
            weekday: 'long',
            day: 'numeric',
            month: 'long',
            year: 'numeric',
        };

        var DateFormatted = new Intl.DateTimeFormat('id', options).format(date);

        return DateFormatted;
    }
</script>

<body style="padding: 36px;">
    <div style="min-height: 75%">
        <table class="table table-striped table-hover table-bordered" data-locale="id-ID">
            <thead>
                <tr>
                    <th scope="col" data-width="50">No</th>
                    <th scope="col">Nama Calon Karyawan</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tanggal Daftar</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 0; for(data of listCalon){ %>
                    <tr>
                        <td>
                            <%= i+1 %>
                        </td>
                        <td>
                            <%= data.NAMA_CALON %>
                        </td>
                        <td>
                            <%= data.EMAIL %>
                        </td>
                        <td class="daftarFormatted">
                            <script>
                                document.getElementsByClassName('daftarFormatted')[<%= i %>].innerHTML = setdate("<%= data.TGL_DAFTAR%>");
                            </script>
                        </td>
                    </tr>
                    <% i++;}%>
            </tbody>
        </table>
    </div>
    <img src="<%= src %>">
</body>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script>
    $(document).ready(function() {
        window.onafterprint = window.close;
        window.print();
    });
</script>