<link rel="stylesheet" href="/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/assets/css/setting-default.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">
<link rel="stylesheet" href="/css/bootstrap-table.min.css">
<script src="/js/jquery.min.js"></script>

<style type="text/css" media="print">
    @page {
        size: portrait;
    }
    @media screen {
        div.divFooter {
            display: none;
        }
    }
    @media print {
        div.divFooter {
            position: fixed;
            bottom: 0;
        }
    }
</style>
<script>
    function setdate(value) {
        var date = new Date(value);

        options = {
            weekday: 'long',
            day: 'numeric',
            month: 'long',
            year: 'numeric',
        };

        var DateFormatted = new Intl.DateTimeFormat('id', options).format(date);

        return DateFormatted;
    }

    function setdateTTD(value) {
        var date = new Date(value);

        options = {
            day: 'numeric',
            month: 'long',
            year: 'numeric',
        };

        var DateFormatted = new Intl.DateTimeFormat('id', options).format(date);

        return DateFormatted;
    }
</script>

<body style="padding: 36px;">
    <div style="min-height: 75%">
        <div class="mb-4 d-flex justify-content-center">
            <img src="/assets/img/kop.jpg" style="width: 95%">
        </div>
        <h6 id="h_periode" class="mb-3"></h6>
        <script>
            let start = setdate("<%= tgl.START %>");
            let end = setdate("<%= tgl.END %>");
            document.getElementById('h_periode').innerHTML = 'Periode Perekrutan: ' + start + ' - ' + end;
        </script>
        <% let cl = 0; for(let i = 0; i < idRek.length;i++){ %>
            <% if(cl>0) {%>
                <p style="page-break-before: always;"></p>
                <div class="mb-3 d-flex justify-content-center">
                    <img src="/assets/img/kop.jpg" style="width: 95%">
                </div>
                <%}%>
                    <div class="pb-2 mt-3">Bagian:
                        <span style="font-weight: 500;"><%= idRek[i]['NAMA_BAGIAN'] %></span>
                    </div>
                    <div class="pb-2 tgl_rek"></div>
                    <div class="pb-2">Jumlah Pelamar:
                        <span style="font-weight: 500;"><%= idRek[i]['JML'] %> Peserta</span>
                    </div>
                    <script>
                        tgl_rek = setdate("<%= idRek[i]['TGL_MULAI'] %>");
                        document.getElementsByClassName('tgl_rek')[<%= i %>].innerHTML = 'Tgl Perekrutan: <span style="font-weight: 500;">' + tgl_rek + '</span>';
                    </script>
                    <table class="table table-hover table-bordered mt-3 mb-5" data-locale="id-ID">
                        <thead>
                            <tr>
                                <th scope="col" data-width="50">No</th>
                                <th scope="col">Nama Calon</th>
                                <th scope="col">Email</th>
                                <th scope="col">Tanggal Daftar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let j = 0; for(data of listCalon){ %>
                                <% if(idRek[i]['ID_REKRUTMEN'] == data.ID_REKRUTMEN){ %>
                                    <tr>
                                        <td>
                                            <%= j+1 %>
                                        </td>
                                        <td>
                                            <%= data.NAMA_CALON %>
                                        </td>
                                        <td>
                                            <%= data.EMAIL %>
                                        </td>
                                        <td class="daftarFormatted">
                                            <script>
                                                document.getElementsByClassName('daftarFormatted')[<%= cl %>].innerHTML = setdate("<%= data.TGL_DAFTAR %>");
                                            </script>
                                        </td>
                                    </tr>
                                    <% j++; cl++;} %>
                                        <% } %>
                        </tbody>
                    </table>
    </div>
    <div class="d-flex flex-column text-center divFooter" style="width: 35%">
        <div>Surabaya,
            <span id="now<%=cl%>"></span>
            <script defer>
                now = setdateTTD(new Date());
                document.getElementById('now<%=cl%>').innerHTML = now;
            </script>
        </div>
        <div>
            <img src="<%= src %>">
        </div>
        <div>
            <%= user.nama %>
        </div>
    </div>
    <%}%>
</body>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script>
    $(document).ready(function() {
        window.onafterprint = window.close;
        window.print();
    });
</script>