<link rel="stylesheet" href="/css/bootstrap-table.min.css">
<table class="table table-striped table-hover" data-pagination="true" data-search="true" data-toggle="table" data-locale="id-ID" data-pagination-parts='[pageInfo, pageList]' data-buttons="buttons" data-buttons-class="success ms-2">
    <thead>
        <tr>
            <th scope="col" data-width="50">No</th>
            <th scope="col" data-sortable="true">Nama Calon Karyawan</th>
            <th scope="col">Email</th>
            <th scope="col" data-sortable="true">Nilai Total</th>
            <th scope="col" data-sortable="true" class="text-center">Status MBR</th>
        </tr>
    </thead>
    <tbody>
        <% let i = 0; for(data of rank[0]){ %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= data.NAMA_CALON %>
                </td>
                <td>
                    <%= data.EMAIL %>
                </td>
                <td>
                    <%= +(rank[1][data.ID_CALON]) %>
                </td>
                <td class="table-<%= data.STAT_MBR == 0 ? 'success':'danger'%> text-center">
                    <%= (data.STAT_MBR == 0)? 'Tidak Berpenghasilan Kecil' : 'Berpenghasilan Kecil' %>
                </td>
            </tr>
            <%i++;}%>
    </tbody>
</table>
<script src="/js/bootstrap-table.min.js"></script>
<script>
    function buttons() {
        return {
            btnPrint: {
                text: 'Highlight Users',
                icon: 'bi bi-printer',
                event: function() {
                    window.open('/laporanbag/getriwayat/print/<%= idRek %>', '_blank');
                },
                attributes: {
                    title: 'Print Laporan'
                }
            }
        }
    }
</script>